<div id="loadingParent" style="display:none">
    <div id="loadingChild">
        <img src="@Url.Content("/images/loading.gif")" id="loadingImage" alt="Đang tải..." />
        &nbsp;<span id="loadingTitle">Đang tải...</span></div>
</div>