<div id="media-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="media-modal-content" class="modal-body pt-10">
            </div>
            <div id="media-modal-button" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove fa-fw"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>