/.vs
/Demo.Web/bin/Debug/netcoreapp2.1/Corporation.deps.json
/Demo.Web/bin/Debug/netcoreapp2.1/Corporation.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Corporation.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Corporation.runtimeconfig.dev.json
/Demo.Web/bin/Debug/netcoreapp2.1/Corporation.runtimeconfig.json
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.BusinessLogic.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.BusinessLogic.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Data.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Data.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Entity.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Entity.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Model.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Model.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Repository.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Repository.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Util.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Util.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Web.deps.json
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Web.dll
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Web.pdb
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Web.runtimeconfig.dev.json
/Demo.Web/bin/Debug/netcoreapp2.1/Demo.Web.runtimeconfig.json
/Demo.Web/bin/Debug/netcoreapp2.1/Views/_ViewImports.cshtml
/Demo.Web/bin/Debug/netcoreapp2.1/Views/_ViewStart.cshtml
/Demo.Web/bin/Release/netcoreapp2.1/Corporation.deps.json
/Demo.Web/bin/Release/netcoreapp2.1/Corporation.dll
/Demo.Web/bin/Release/netcoreapp2.1/Corporation.pdb
/Demo.Web/bin/Release/netcoreapp2.1/Corporation.runtimeconfig.dev.json
/Demo.Web/bin/Release/netcoreapp2.1/Corporation.runtimeconfig.json
/Demo.Web/bin/Release/netcoreapp2.1/Views/_ViewImports.cshtml
/Demo.Web/bin/Release/netcoreapp2.1/Views/_ViewStart.cshtml
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Corporation
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Corporation.deps.json
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Corporation.dll
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Corporation.pdb
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Corporation.runtimeconfig.dev.json
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Corporation.runtimeconfig.json
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Views/_ViewImports.cshtml
/Demo.Web/bin/Release/netcoreapp2.1/linux-x64/Views/_ViewStart.cshtml
/Demo.Util/bin/Debug/netcoreapp2.1/Demo.Util.deps.json
/Demo.Util/bin/Debug/netcoreapp2.1/Demo.Util.dll
/Demo.Util/bin/Debug/netcoreapp2.1/Demo.Util.pdb
/Demo.Util/bin/Debug/netcoreapp2.2/Demo.Util.deps.json
/Demo.Util/bin/Debug/netcoreapp2.2/Demo.Util.dll
/Demo.Util/bin/Debug/netcoreapp2.2/Demo.Util.pdb
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.AssemblyInfo.cs
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.AssemblyInfoInputs.cache
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.assets.cache
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.csproj.CoreCompileInputs.cache
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.csproj.FileListAbsolute.txt
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.csprojAssemblyReference.cache
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.dll
/Demo.Util/obj/Debug/netcoreapp2.1/Demo.Util.pdb
/Demo.Util/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Demo.Util/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Demo.Util/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.AssemblyInfo.cs
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.AssemblyInfoInputs.cache
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.assets.cache
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.csproj.CoreCompileInputs.cache
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.csproj.FileListAbsolute.txt
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.csprojAssemblyReference.cache
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.dll
/Demo.Util/obj/Debug/netcoreapp2.2/Demo.Util.pdb
/Demo.Util/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Demo.Util/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Demo.Util/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Demo.Util/obj/Demo.Util.csproj.nuget.cache
/Demo.Util/obj/Demo.Util.csproj.nuget.g.props
/Demo.Util/obj/Demo.Util.csproj.nuget.g.targets
/Demo.Util/obj/project.assets.json
/Demo.Web/bin
/Demo.Web/Logs
/Demo.Web/obj
/Demo.BusinessLogic/bin
/Demo.BusinessLogic/obj
/Demo.Data/obj
/Demo.Data/bin
obj
bin
