@model PasswordRecoverModel
<form method="post" id="login">
    @Html.AntiForgeryToken()
    <div class="panel panel-body login-form">
        <div asp-validation-summary="All"></div>
        <div class="text-center">
            <div class="icon-object border-warning text-warning"><i class="icon-user"></i></div>
            <h5 class="content-group">KHÔI PHỤC MẬT KHẨU 
                <small class="display-block">Chúng tôi sẽ gởi mật khẩu mới tới email của bạn</small>
            </h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input asp-for="Email" type="text" class="form-control" required autofocus placeholder="Email">
            <div class="form-control-feedback">
                <i class="icon-envelop3 text-muted"></i>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Tạo mật khẩu mới <i class="icon-key position-right"></i></button>
        </div>
    </div>
</form>