@model PasswordRecoveredModel
<!-- Unlock user -->
<div class="login-form">
    <div class="panel">
        <div class="panel-body">
            <div class="thumb thumb-rounded">
                <img src="@(Model.AvatarUrl ?? "/images/avatar_placeholder.png")" alt="">
            </div>
            <h6 class="content-group text-center text-semibold no-margin-top">@Model.FullName 
                <small class="display-block">Khôi phục mật khẩu thành công.</small>
                <small class="display-block">Chúng tôi đã gởi mật khẩu mới tới email của bạn.</small>
            </h6>            
            <a href="/login" class="btn btn-primary btn-block">Về trang đăng nhập <i class="icon-arrow-right14 position-right"></i></a>
        </div>
    </div>
</div>
<!-- /unlock user -->