<header id="header" class="no-sticky">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="logo" class="divcenter">
                <a href="#" class="standard-logo"><img class="divcenter" src="images/comdy-logo@1x.png" alt="@Common.Settings.SiteName"></a>
                <a href="#" class="retina-logo"><img class="divcenter" src="images/comdy-logo@2x.png" alt="@Common.Settings.SiteName"></a>
            </div>
        </div>
    </div>
</header>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="heading-block title-center nobottomborder">
                <h1>Website đang được xây dựng</h1>
                <span>Chúng tôi đã sắp hoàn thành. Bạn vui lòng quay lại trong thời gian tới.</span>
            </div>
            <div id="countdown" class="countdown countdown-large divcenter bottommargin" style="max-width:700px;"></div>
            <div class="clear"></div>
            <div class="progress progress-striped active topmargin divcenter" style="height: 12px; max-width:600px;">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                    <span class="sr-only">Đã Hoàn Thành 95%</span>
                </div>
            </div>
        </div>
    </div>
</section>