<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="heading-block center nobottomborder">
                <h1>Website đang được bảo trì</h1>
                <span>Chúng tôi xin lỗi vì sự bất tiện này. Bạn vui lòng quay lại trong vài phút tới.</span>
            </div>
            <div class="col_one_third topmargin">
                <div class="feature-box fbox-center fbox-light fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa fa-warning"></i></a>
                    </div>
                    <h3>Vì sao Website tạm ngừng?</h3>
                    <p>Chúng tôi đang làm việc để nâng cấp một số tính năng quan trọng cho website.</p>
                </div>
            </div>
            <div class="col_one_third topmargin">
                <div class="feature-box fbox-center fbox-light fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa fa-clock-o"></i></a>
                    </div>
                    <h3>Website tạm ngừng bao lâu?</h3>
                    <p>Website thường sẽ hoạt động trở lại trong khoảng thời gian từ 10-15 phút.</p>
                </div>
            </div>
            <div class="col_one_third topmargin col_last">
                <div class="feature-box fbox-center fbox-light fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                    <h3>Bạn cần Hỗ Trợ khẩn cấp?</h3>
                    <p>Hãy gởi email cho chúng tôi theo địa chỉ <a href="mailto:@Common.Settings.EmailContact">@Common.Settings.EmailContact</a> nếu bạn cần hỗ trợ khẩn cấp.</p>
                </div>
            </div>
        </div>
    </div>
</section>